# Node and generic stuff
node_modules/
*.jrnl
*.log
.project
.settings
.classpath

# Project outputs etc.
out/
src/hostif/target/*
src/pslLint/cli/lib/*

# VSCode related stuff
*.vsix

# MacOS stuff
.DS_Store
